body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: #1c1c1c;
}
.container {
    max-width: 1350px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.small-container {
    max-width: 1150px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
.btn-btn {
    padding: 9px 20px;
    color: white;
    border-radius: 5px;
    margin-right: 15px;
    border: 2px solid #cd921e;
}
.btn-btn:hover {
    background-color: #cd921e;
    transition: all .3s;
    color: #1c1c1c;
}
.btn-btn i {
    margin: 0 10px;
}
.navbar-nav a {
    margin-left: 20px;
}
.navbar-in a {
    color: white;
}
.navbar-in a:hover {
    color: #cd921e;
}
.navbar-nav .nav-link.active {
    color: #cd921e;
}

element.style {
    background-color: white;
    color: white;
}
.navbar-toggler-icon {
    background-color: white;
}
.navbar-toggler {
    color: white;
}
/*--banner-in--*/
.banner-in h3, h4 {
    color: #b2adad;
}
.banner-in span {
    color: #cd921e;
}
.banner-in h1 {
    font-family: 'Playfair Display', serif;
}
.socical-icon a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cd921e;
    color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.socical-icon h3 {
    margin-right: 20px;
}
.socical-icon a:hover {
    color: #1c1c1c;
    transition: all .3s;
    transform: rotate(360deg);
}
.socical-icon a {
    margin-right: 15px;
}
.circle-in {
    width: 420px;
    height: 420px;
    border-radius: 50%;
    background-color: #f8dda6;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    overflow: hidden;
}
.circle-in img {
    width: 350px;
    height: 422px;
    transform: rotate(12deg);
}

.circle-info:after {
    position: absolute;
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 1px solid orange;
    content: '';
    top: -8%;
    left: -5%;
}
.dots .dots-img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    opacity: .8;
}
.dots .dots-img  {
    margin-right: -24px;
}
/*--Project-in--*/
.Project-in {
    background-color: #2f2f2f;
    border-radius: 20px;
}
.card-in {
    border-radius: 20px;
    background-color: #e0b1b7;
}
.card-in img {
    height: 345px;
    padding: 20px 0;
}
.project-info span {
    color: #51d486;
}
.project-info h5 {
    color: #b2adad;
}
.project-info {
    margin-right: 80px;
}
.project-info h1 {
    font-size: 55px;
}
.project-info i {
    color: #cd921e;
}
.help-in p {
    color: #b2adad;
    max-width: 600px;
    line-height: 28px;
}
/*--liberty-park--*/
.card-top {
    height: 300px;
    overflow: hidden;
}
.card-overlay {
    background-color: rgba(0, 0, 0, .8);
    top: 0; 
    right: 100%; 
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all .3s;
}
.card-hovered:hover .card-overlay {
    opacity: 1;
    right: 0;
}
/*--skill--*/
.card-icon img {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.tech-skill{
    border-radius: 10px;
    border: 2px solid #f8dda6;
}
/*--footer--*/
.footer a {
    color: white;
}
.footer a:hover {
    color: #cd921e;
    transition: all .3s;
}
.btn-back {
    border: 1px solid #cd921e;
    border-radius: 5px;
}
.btn-back:hover {
    background-color: #cd921e;
}
.btn-back {
    margin-right: 10px;
    margin-bottom: 10px;
}
.animatison {
    height: 100vh ;
}
.animatison {
    background-color: #cd921e;
}

@media (max-width: 991.99px) {
    .dots .dots-img, .circle-info:after {display: none;}
}